<a href="https://colab.research.google.com/github/Sathyadev75/SQL_Parser/blob/main/SQL_parser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Problem 1

In [27]:
sample_record = [["name", "email", "phone1", "phone2"]]
import csv

names = [
    "aiden", "olivia", "liam", "emma", "noah",
    "ava", "sophia", "jackson", "lucas", "isabella",
    "oliver", "chloe", "mia", "elijah", "harper",
    "ethan", "amelia", "aria", "caden", "ella",
    "scarlett", "mason", "evelyn", "logan", "abigail"
]

for i in range(25):
    sample_record.append([
        names[i],
        f"{names[i]}@email.com",
        f"123-456-{i}000",
        f"987-654-{i}999"
    ])

sample_record

# Specify the file name
file_name = "contacts.csv"

# Writing to the CSV file
with open(file_name, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(sample_record)

print(f"CSV file '{file_name}' has been created.")

CSV file 'contacts.csv' has been created.

In [28]:
import pandas as pd
df=pd.read_csv("phone_records.csv")
df

        name               email         phone1         phone2
0      aiden     aiden@email.com   123-456-0000   987-654-0999
1     olivia    olivia@email.com   123-456-1000   987-654-1999
2       liam      liam@email.com   123-456-2000   987-654-2999
3       emma      emma@email.com   123-456-3000   987-654-3999
4       noah      noah@email.com   123-456-4000   987-654-4999
5        ava       ava@email.com   123-456-5000   987-654-5999
6     sophia    sophia@email.com   123-456-6000   987-654-6999
7    jackson   jackson@email.com   123-456-7000   987-654-7999
8      lucas     lucas@email.com   123-456-8000   987-654-8999
9   isabella  isabella@email.com   123-456-9000   987-654-9999
10    oliver    oliver@email.com  123-456-10000  987-654-10999
11     chloe     chloe@email.com  123-456-11000  987-654-11999
12       mia       mia@email.com  123-456-12000  987-654-12999
13    elijah    elijah@email.com  123-456-13000  987-654-13999
14    harper    harper@email.com  123-456-14000  987-654-14999
15     ethan     ethan@email.com  123-456-15000  987-654-15999
16    amelia    amelia@email.com  123-456-16000  987-654-16999
17      aria      aria@email.com  123-456-17000  987-654-17999
18     caden     caden@email.com  123-456-18000  987-654-18999
19      ella      ella@email.com  123-456-19000  987-654-19999
20  scarlett  scarlett@email.com  123-456-20000  987-654-20999
21     mason     mason@email.com  123-456-21000  987-654-21999
22    evelyn    evelyn@email.com  123-456-22000  987-654-22999
23     logan     logan@email.com  123-456-23000  987-654-23999
24   abigail   abigail@email.com  123-456-24000  987-654-24999

##Problem 2:
Implement a SQL-like parser for phone book records in Problem 1 to implement CRUD
operaNons and print SQL like output on console.:
2.1
SELECT * FROM phone_records; This statement reads the first 10 records and displays them
on the console.

In [34]:
import pandas as pd

def read_data(key):
    """
    Read data from a CSV file based on the SELECT query.

    Parameters:
    - key (str): The SELECT query.

    Returns:
    - None: Prints the selected data or error messages.
    """
    try:
        columns_to_fetch = key.split('from')[0].split('select')[1].strip()
        if "where" in key:
            dataframe_name = key.split('where')[0].split('from')[1].strip()
            df = pd.read_csv(f"{dataframe_name}.csv")
            column_name = key.split('where')[1].split('=')[0].strip()
            value = key.split('where')[1].split('=')[1].strip()
            value = "".join(c for c in value if c.isalpha())
            if columns_to_fetch == "*":
                print(df[df[column_name] == value])
        else:
            dataframe_name = key.split('from')[1].strip()
            dataframe_name = "".join(c for c in dataframe_name if c.isalnum())
            df = pd.read_csv(f"{dataframe_name}.csv")
            if columns_to_fetch == "*":
                print(df[:11])
    except KeyError as e:
        print(f"Error: {e} column(s) not found.")
    except FileNotFoundError as e:
        print(f"Error: File {e.filename} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

def extract_column(key):
    """
    Extract column names from the INSERT query.

    Parameters:
    - key (str): The INSERT query.

    Returns:
    - List: Extracted column names.
    """
    try:
        columns_start_index = key.find('(') + 1
        columns_end_index = key.find(')')
        column_str = key[columns_start_index:columns_end_index].strip()
        column_names = [col.strip() for col in column_str.split(',')]
        return column_names
    except Exception as e:
        print(f"An error occurred: {e}")
        return []

def extract_values(insert_statement):
    """
    Extract values from the INSERT query.

    Parameters:
    - insert_statement (str): The INSERT query.

    Returns:
    - List: Extracted values.
    """
    try:
        values = insert_statement.split("values(")[1]
        values = values.split(")")[0].strip().split(",")
        cleaned_values = ["".join(c for c in val if c.isalnum()) for val in values]
        return cleaned_values
    except Exception as e:
        print(f"An error occurred: {e}")
        return []

def insert_data(key):
    """
    Insert data into a CSV file based on the INSERT query.

    Parameters:
    - key (str): The INSERT query.

    Returns:
    - None: Prints success message or error messages.
    """
    try:
        column_names = extract_column(key)
        values = extract_values(key)
        dataframe_name = key.split("into")[1]
        dataframe_name = dataframe_name.split("(")[0].strip()
        df = pd.read_csv(f"{dataframe_name}.csv")
        df = df.append({column_names[i]: values[i] for i in range(len(column_names))}, ignore_index=True)
        df.to_csv(f"{dataframe_name}.csv", index=False)
    except FileNotFoundError as e:
        print(f"Error: File {e.filename} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

def delete_data(key):
    """
    Delete rows from a CSV file based on the DELETE query.

    Parameters:
    - key (str): The DELETE query.

    Returns:
    - None: Prints success message or error messages.
    """
    try:
        if "where" in key:

            dataframe_name = key.split('from')[1].split('where')[0].strip()
            dataframe_name = "".join(c for c in dataframe_name if c.isalnum())
            df = pd.read_csv(f"{dataframe_name}.csv")
            print(dataframe_name)

            where_clause = key.split('where')[1].strip()
            column_name, value = where_clause.split('=')
            column_name = column_name.strip()
            value = value.strip().strip("'")
            value="".join(c for c in value if c.isalnum())
            rows_to_delete = df[df[column_name] == value]
            print(rows_to_delete)

            if not rows_to_delete.empty:
                df = df.drop(rows_to_delete.index)
                df.to_csv(f"{dataframe_name}.csv", index=False)
                print(f"Deleted rows where {column_name} is {value}")
            else:
                print(f"No rows matched the condition: {column_name} = {value}")
        else:
            print("DELETE statement must include a WHERE clause.")
    except FileNotFoundError as e:
        print(f"Error: File {e.filename} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

In [ ]:
input_list=["SELECT * FROM phone_records;","SELECT * FROM phone_records WHERE name=’doe’;"
,"INSERT INTO phone_records(name, email,phone 1, phone 2),VALUES(‘Test’,’test@test.xtyz’,’1234456’,’1233233’)"
"DELETE FROM phone_records WHERE name=’John’"]

#provide input like element in inputs_list

In [36]:
def sql_parser():
  while True:
    print()
    key = input().lower()
    if "select" in key:
        read_data(key)
    elif "insert" in key:
        insert_data(key)
    elif "delete" in key:
      delete_data(key)
    if key=="exit":
      break


sql_parser()

exit

##Sample output for previous executions

select * from contacts;
        name               email         phone1         phone2
0      aiden     aiden@email.com   123-456-0000   987-654-0999
1     olivia    olivia@email.com   123-456-1000   987-654-1999
2       liam      liam@email.com   123-456-2000   987-654-2999
3       emma      emma@email.com   123-456-3000   987-654-3999
4       noah      noah@email.com   123-456-4000   987-654-4999
5        ava       ava@email.com   123-456-5000   987-654-5999
6     sophia    sophia@email.com   123-456-6000   987-654-6999
7    jackson   jackson@email.com   123-456-7000   987-654-7999
8      lucas     lucas@email.com   123-456-8000   987-654-8999
9   isabella  isabella@email.com   123-456-9000   987-654-9999
10    oliver    oliver@email.com  123-456-10000  987-654-10999

select * from contacts where name="dscs";
Empty DataFrame
Columns: [name, email, phone1, phone2]
Index: []

select * from contacts where name="oliver";
      name             email         phone1         phone2
10  oliver  oliver@email.com  123-456-10000  987-654-10999

insert into contacts (name,email,phone1,phone2) values("palani","d@gmail.com",23423,3123)
<ipython-input-34-b54c911cdc50>:91: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({column_names[i]: values[i] for i in range(len(column_names))}, ignore_index=True)

select * from contacts where name="palani";
      name      email phone1 phone2
25  palani  dgmailcom  23423   3123

delete from contacts where name="oliver";
contacts
      name             email         phone1         phone2
10  oliver  oliver@email.com  123-456-10000  987-654-10999
Deleted rows where name is oliver

select * from contacts where name="oliver";
Empty DataFrame
Columns: [name, email, phone1, phone2]
Index: []